# Cleaning

In [277]:
import pickle
import datetime
import unicodedata
import pandas as pd
import numpy as np
from os import getcwd
from os.path import dirname

path = getcwd()
parent = dirname(path)
DIR_DATA = parent+'/data/'
DIR_RAW_DATA = DIR_DATA+'raw/'
DIR_CLEAN_DATA = DIR_DATA+'clean/'

team_abrv_pickle_path = 'teams_abrv_dictionary.p'
team_abrv_dict = pickle.load(open( team_abrv_pickle_path, "rb" )) 

team_nick_pickle_path = 'teams_nickname_dictionary.p'
team_nick_dict = pickle.load(open( team_nick_pickle_path, "rb" ))

In [306]:
team_abrv_dict

{'ATL': 'Atlanta Hawks',
 'BOS': 'Boston Celtics',
 'CHA': 'Charlotte Bobcats',
 'CHI': 'Chicago Bulls',
 'CLE': 'Cleveland Cavaliers',
 'DAL': 'Dallas Mavericks',
 'DEN': 'Denver Nuggets',
 'DET': 'Detroit Pistons',
 'GSW': 'Golden State Warriors',
 'HOU': 'Houston Rockets',
 'IND': 'Indiana Pacers',
 'LAC': 'Los Angeles Clippers',
 'LAL': 'Los Angeles Lakers',
 'MEM': 'Memphis Grizzlies',
 'MIA': 'Miami Heat',
 'MIL': 'Milwaukee Bucks',
 'MIN': 'Minnesota Timberwolves',
 'NOP': 'New Orleans Pelicans',
 'NYK': 'New York Knicks',
 'OKC': 'Oklahoma City Thunder',
 'ORL': 'Orlando Magic',
 'PHI': 'Philadelphia 76ers',
 'PHO': 'Phoenix Suns',
 'POR': 'Portland Trailblazers',
 'SAC': 'Sacramento Kings',
 'SAS': 'San Antonio Spurs',
 'TOR': 'Toronto Raptors',
 'UTA': 'Utah Jazz',
 'WAS': 'Washington Wizards',
 'NJN': 'New Jersey Nets',
 'BRK': 'Brooklyn Nets',
 'NOH': 'New Orleans Hornets',
 'CHO': 'Charlotte Hornets',
 'SEA': 'Seattle Supersonics',
 'CHH': 'Charlotte Hornets',
 'WSB': 'Washington Bullets',
 'NOK': 'New Orleans Hornets',
 'VAN': 'Vancouver Grizzlies'}

In [7]:
def strip_accents(s):
   
    """
    This function removes accents from characters within a string, replacing those 
    characters with a non-accented unicode character. Input is a string. 
    Output is a string.
    """
    
    return ''.join(c for c in unicodedata.normalize('NFD', s) if unicodedata.category(c) != 'Mn')

## Player Stats Dataset

In [280]:
players_stats_df = pd.read_csv(DIR_RAW_DATA+'players_stats.csv')
players_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6617 entries, 0 to 6616
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  6617 non-null   float64
 1   PLAYER_NAME           6617 non-null   object
 2   Season                6617 non-null   object
 3   TEAM_ID               6617 non-null   int64
 4   TEAM_ABBREVIATION     6617 non-null   object
 5   AGE                   6617 non-null   float64
 6   PLAYER_HEIGHT_INCHES  6612 non-null   float64
 7   PLAYER_WEIGHT         6612 non-null   float64
 8   GP                    6617 non-null   int64
 9   MIN                   6617 non-null   float64
 10  REB                   6617 non-null   float64
 11  OREB                  6617 non-null   float64
 12  DREB                  6617 non-null   float64
 13  BLK                   6617 non-null   float64
 14  PF                    6617 non-null   float64
 15  PFD                   6617 non-null   float64
 16  DIST_MILES            6614 non-null   float64
 17  DIST_MILES_OFF        6613 non-null   float64
 18  DIST_MILES_DEF        6613 non-null   float64
 19  AVG_SPEED             6614 non-null   float64
 20  AVG_SPEED_OFF         6614 non-null   float64
 21  AVG_SPEED_DEF         6614 non-null   float64
 22  PLAYER_ID             6617 non-null   int64
 23  CONTESTED_SHOTS       6617 non-null   float64
 24  CONTESTED_SHOTS_2PT   6617 non-null   float64
 25  CONTESTED_SHOTS_3PT   6617 non-null   float64
 26  BOX_OUTS              6617 non-null   float64
 27  OFF_BOXOUTS           6617 non-null   float64
 28  DEF_BOXOUTS           6617 non-null   float64
 29  DEFLECTIONS           6617 non-null   float64
 30  CHARGES_DRAWN         6617 non-null   float64
dtypes: float64(25), int64(3), object(3)
memory usage: 1.6+ MB

In [281]:
players_stats_df = players_stats_df.rename(columns = {'PLAYER_NAME':'Player',
                                        'PLAYER_HEIGHT_INCHES':'Inches','PLAYER_WEIGHT':'Weight','TEAM_ABBREVIATION':'Team','AGE':'Age'})
players_stats_df = players_stats_df.drop(columns = ['TEAM_ID'])
players_stats_df = players_stats_df.dropna(subset = ['Inches','Weight'])
players_stats_df = players_stats_df.astype({'Age':int,'Year':int,'Inches':int,'Weight':int})
players_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6612 entries, 0 to 6616
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 6612 non-null   int64
 1   Player               6612 non-null   object
 2   Season               6612 non-null   object
 3   Team                 6612 non-null   object
 4   Age                  6612 non-null   int64
 5   Inches               6612 non-null   int64
 6   Weight               6612 non-null   int64
 7   GP                   6612 non-null   int64
 8   MIN                  6612 non-null   float64
 9   REB                  6612 non-null   float64
 10  OREB                 6612 non-null   float64
 11  DREB                 6612 non-null   float64
 12  BLK                  6612 non-null   float64
 13  PF                   6612 non-null   float64
 14  PFD                  6612 non-null   float64
 15  DIST_MILES           6609 non-null   float64
 16  DIST_MILES_OFF       6608 non-null   float64
 17  DIST_MILES_DEF       6608 non-null   float64
 18  AVG_SPEED            6609 non-null   float64
 19  AVG_SPEED_OFF        6609 non-null   float64
 20  AVG_SPEED_DEF        6609 non-null   float64
 21  PLAYER_ID            6612 non-null   int64
 22  CONTESTED_SHOTS      6612 non-null   float64
 23  CONTESTED_SHOTS_2PT  6612 non-null   float64
 24  CONTESTED_SHOTS_3PT  6612 non-null   float64
 25  BOX_OUTS             6612 non-null   float64
 26  OFF_BOXOUTS          6612 non-null   float64
 27  DEF_BOXOUTS          6612 non-null   float64
 28  DEFLECTIONS          6612 non-null   float64
 29  CHARGES_DRAWN        6612 non-null   float64
dtypes: float64(21), int64(6), object(3)
memory usage: 1.6+ MB

#### Map remaining teams to full team name using team_name_dict

In [282]:
players_stats_df['Team'] = players_stats_df['Team'].replace(team_abrv_dict)
players_stats_df.head()

,Year,Player,Season,Team,Age,Inches,Weight,GP,MIN,REB,...,AVG_SPEED_DEF,PLAYER_ID,CONTESTED_SHOTS,CONTESTED_SHOTS_2PT,CONTESTED_SHOTS_3PT,BOX_OUTS,OFF_BOXOUTS,DEF_BOXOUTS,DEFLECTIONS,CHARGES_DRAWN
0,2013,AJ Price,regular,Minnesota Timberwolves,27,74,195,28,3.5,0.4,...,3.96,201985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2013,Aaron Brooks,regular,Denver Nuggets,29,72,161,72,21.6,1.9,...,3.99,201166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2013,Aaron Gray,regular,Sacramento Kings,29,84,270,37,9.6,3.0,...,3.91,201189,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2013,Adonis Thomas,regular,Philadelphia 76ers,21,79,240,6,6.3,0.5,...,4.16,203519,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2013,Al Harrington,regular,Washington Wizards,34,81,245,34,15.0,2.4,...,3.80,1733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Format Players names:

- Remove suffixes

In [283]:
players_stats_df['Player'].replace(regex = ['Sr\.'], value = '', inplace = True)
players_stats_df['Player'].replace(regex = ['Jr\.'], value = '', inplace = True)
players_stats_df['Player'].replace(regex = ['IV'], value = '', inplace = True)
players_stats_df['Player'].replace(regex = ['III'], value = '', inplace = True)
players_stats_df['Player'].replace(regex = ['II'], value = '', inplace = True)

- Remove *
- Remove periods

In [284]:
players_stats_df['Player'].replace('\*', '',regex = True,inplace = True)
players_stats_df['Player'].replace('\.','', regex=True, inplace = True)

- Extra white spaces
- Strip accents

In [285]:
players_stats_df['Player'] = players_stats_df['Player'].str.strip()
players_stats_df['Player'] = players_stats_df['Player'].apply(strip_accents)

#### Filter dataframe
- Games played above??
- Minutes played
- Seasons with different conditions??

In [286]:
pickle.dump(players_stats_df,open(DIR_CLEAN_DATA+'player_stats_cleaned.p', "wb" ))

## Inactive List

In [287]:
inactive_list_df = pd.read_csv(DIR_RAW_DATA+'inactive_list_scraped.csv')
inactive_list_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20413 entries, 0 to 20412
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          20413 non-null  object
 1   Team          20413 non-null  object
 2   Acquired      9657 non-null   object
 3   Relinquished  10755 non-null  object
 4   Notes         20413 non-null  object
dtypes: object(5)
memory usage: 797.5+ KB

#### Format Date

In [288]:
inactive_list_df['Date']=pd.to_datetime(inactive_list_df['Date'],infer_datetime_format=True)
inactive_list_df.sort_values(by = 'Date', inplace = True)
inactive_list_df.reset_index(drop = True, inplace = True)
inactive_list_df.head()

,Date,Team,Acquired,Relinquished,Notes
0,2010-10-26,Blazers,NaN,Elliot Williams,placed on IL
1,2010-10-26,Suns,NaN,Matt Janning,placed on IL
2,2010-10-26,Rockets,NaN,Patrick Patterson,placed on IL
3,2010-10-26,Rockets,NaN,Kyle Lowry,placed on IL with back spasms
4,2010-10-26,Rockets,NaN,Jermaine Taylor,placed on IL

#### Filter dataframe by date to match with stats dataset date

In [289]:
inactive_list_df = inactive_list_df[inactive_list_df['Date'] >= '2013-10-01']
inactive_list_df.head()

,Date,Team,Acquired,Relinquished,Notes
4048,2013-10-29,Magic,NaN,Hidayet Turkoglu / Hedo Turkoglu,placed on IL
4049,2013-10-29,Wizards,NaN,Otto Porter Jr.,placed on IL with strained right hip flexor
4050,2013-10-29,Magic,NaN,Glen Davis,placed on IL recovering from surgery to repair...
4051,2013-10-29,Suns,NaN,Emeka Okafor,placed on IL recovering from surgery on neck t...
4052,2013-10-29,Lakers,NaN,Kobe Bryant,placed on IL recovering from surgery to repair...

#### Format Players Teams
- Handle special cases first (same mascot, two different cities - New Jersey Nets, Brooklyn Net, New Orleans Hornets, Charlotte Hornets)

In [290]:
inactive_list_df.loc[((inactive_list_df['Team'] == 'Nets') & (inactive_list_df['Date'] <= pd.to_datetime('2012-06-18',infer_datetime_format=True))), 'Team'] = 'New Jersey Nets'
inactive_list_df.loc[((inactive_list_df['Team'] == 'Nets') & (inactive_list_df['Date'] >= pd.to_datetime('2012-06-18',infer_datetime_format=True))), 'Team'] = 'Brooklyn Nets'
inactive_list_df.loc[((inactive_list_df['Team'] == 'Hornets') & (inactive_list_df['Date'] <= pd.to_datetime('2013-06-18',infer_datetime_format=True))), 'Team'] = 'New Orleans Hornets'
inactive_list_df.loc[((inactive_list_df['Team'] == 'Hornets') & (inactive_list_df['Date'] >= pd.to_datetime('2013-06-18',infer_datetime_format=True))), 'Team'] = 'Charlotte Hornets'
inactive_list_df.head()

,Date,Team,Acquired,Relinquished,Notes
4048,2013-10-29,Magic,NaN,Hidayet Turkoglu / Hedo Turkoglu,placed on IL
4049,2013-10-29,Wizards,NaN,Otto Porter Jr.,placed on IL with strained right hip flexor
4050,2013-10-29,Magic,NaN,Glen Davis,placed on IL recovering from surgery to repair...
4051,2013-10-29,Suns,NaN,Emeka Okafor,placed on IL recovering from surgery on neck t...
4052,2013-10-29,Lakers,NaN,Kobe Bryant,placed on IL recovering from surgery to repair...

- Map remaining teams to full team name using team_name_dict

In [291]:
inactive_list_df['Team'] = inactive_list_df['Team'].map(team_nick_dict)
inactive_list_df.head()

,Date,Team,Acquired,Relinquished,Notes
4048,2013-10-29,Orlando Magic,NaN,Hidayet Turkoglu / Hedo Turkoglu,placed on IL
4049,2013-10-29,Washington Wizards,NaN,Otto Porter Jr.,placed on IL with strained right hip flexor
4050,2013-10-29,Orlando Magic,NaN,Glen Davis,placed on IL recovering from surgery to repair...
4051,2013-10-29,Phoenix Suns,NaN,Emeka Okafor,placed on IL recovering from surgery on neck t...
4052,2013-10-29,Los Angeles Lakers,NaN,Kobe Bryant,placed on IL recovering from surgery to repair...

- Drop rows with no team name

In [292]:
print(f'Rows: {inactive_list_df.shape[0]}')
inactive_list_df.drop(index = inactive_list_df[inactive_list_df['Team'].isnull()].index, inplace = True)
print(f'Rows: {inactive_list_df.shape[0]}')

Rows: 16365
Rows: 16364

#### Standardize Players Names

- Separate out player names (some players have multiple names, each separated by a "/")

In [293]:
all_events_names = inactive_list_df['Acquired'].fillna('') + inactive_list_df['Relinquished'].fillna('')
aliases_df = all_events_names.str.split(pat = '/', expand = True)
aliases_df.columns = ['Player', 'Alt_name_1', 'Alt_name_2'] 
aliases_df['Alt_name_1'].fillna(' ',inplace = True)
aliases_df['Alt_name_2'].fillna(' ',inplace = True)
aliases_df.head()

                 Player      Alt_name_1 Alt_name_2
4048  Hidayet Turkoglu    Hedo Turkoglu
4049    Otto Porter Jr.
4050         Glen Davis
4051       Emeka Okafor
4052        Kobe Bryant

- Remove any strings in parentheses in player names (removes parentheses and the string within the parentheses)

In [294]:
aliases_df.replace(regex = ['\(.*?\)'], value = '', inplace = True)

- Remove suffixes on player names

In [295]:
aliases_df.replace(regex = ['Sr\.'], value = '', inplace = True)
aliases_df.replace(regex = ['Jr\.'], value = '', inplace = True)
aliases_df.replace(regex = ['III'], value = '', inplace = True)
aliases_df.replace(regex = ['IV'], value = '', inplace = True)
aliases_df.replace(regex = ['II'], value = '', inplace = True)

- Remove periods in player names

In [296]:
aliases_df['Player'].replace('\.', '', regex=True, inplace = True)
aliases_df['Alt_name_1'].replace('\.', '', regex=True, inplace = True)
aliases_df['Alt_name_2'].replace('\.', '', regex=True, inplace = True)

- Remove extra white spaces at the start or end of player names

In [297]:
aliases_df['Player']= aliases_df['Player'].str.strip()
aliases_df['Alt_name_1']= aliases_df['Alt_name_1'].str.strip()
aliases_df['Alt_name_2']= aliases_df['Alt_name_2'].str.strip()

- Strip accents

In [298]:
aliases_df['Player']= aliases_df['Player'].apply(strip_accents)
aliases_df['Alt_name_1']= aliases_df['Alt_name_1'].apply(strip_accents)
aliases_df['Alt_name_2']= aliases_df['Alt_name_2'].apply(strip_accents)

In [299]:
def player_name_standardizer(aliases_df,names_with_stats_series):

    """ This function standardizes player name spelling. The spelling of player 
    names in the 'aliases_df' dataframes may not match those
    found in the 'names_with_stats_series' pandas series. The 'aliases_df'
    contain up to three different spellings for each player's name 
    (columns 'Player', 'Name_alt_1', Name_alt_2'). This function finds which of these
    three names matches the player name in the 'names_with_stats_series'. 
    
    Input: aliases_df; names_with_stats_series
    
    Output: a dictionary for standardizing spelling. Keys are player names found
    in 'Player' column in 'aliases_df'. Value is corresponding spelling of 
    player name in 'names_with_stats_series'. If no match is found, 'No Match'
    is the value.
    
    Use this dicitionary to standardize player spellings
    """

    aliases_unique_player_df = aliases_df.drop_duplicates('Player')
    aliases_unique_player_df['Name_to_use'] = ''

    ps_unique_player_series = names_with_stats_series

    for row in aliases_unique_player_df.itertuples():
        if not ps_unique_player_series[ps_unique_player_series.isin([row.Player])].empty:
            aliases_unique_player_df['Name_to_use'][row.Index] = row.Player
        elif ps_unique_player_series[ps_unique_player_series.isin([row.Player])].empty:
            if not ps_unique_player_series[ps_unique_player_series.isin([row.Alt_name_1])].empty:
                aliases_unique_player_df['Name_to_use'][row.Index] = row.Alt_name_1
            elif ps_unique_player_series[ps_unique_player_series.isin([row.Alt_name_1])].empty:  
                if not ps_unique_player_series[ps_unique_player_series.isin([row.Alt_name_2])].empty:
                    aliases_unique_player_df['Name_to_use'][row.Index] = row.Alt_name_2
                elif ps_unique_player_series[ps_unique_player_series.isin([row.Alt_name_2])].empty:
                    aliases_unique_player_df['Name_to_use'][row.Index] = 'No Match'
        else:
            aliases_unique_player_df['Name_to_use'][row.Index] = 'No Match'
            
    name_dictionary = dict(zip(aliases_unique_player_df.Player, aliases_unique_player_df.Name_to_use))
    
    return name_dictionary

In [300]:
player_stats_unique_player_df = players_stats_df.drop_duplicates('Player')
player_names_series = player_stats_unique_player_df['Player']
player_spelling_dict = player_name_standardizer(aliases_df,player_names_series)

/tmp/ipykernel_16624/4270920891.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aliases_unique_player_df['Name_to_use'] = ''
/tmp/ipykernel_16624/4270920891.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aliases_unique_player_df['Name_to_use'][row.Index] = row.Alt_name_1
/tmp/ipykernel_16624/4270920891.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aliases_unique_player_df['Name_to_use'][row.Index] = row.Player
/tmp/ipykernel_16624/4270920891.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aliases_unique_player_df['Name_to_use'][row.Index] = 'No Match'
/tmp/ipykernel_16624/4270920891.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aliases_unique_player_df['Name_to_use'][row.Index] = row.Alt_name_2

In [301]:
aliases_df['Player'] = aliases_df['Player'].map(player_spelling_dict)
inactive_list_df['Player'] = aliases_df['Player']
inactive_list_df.head()

,Date,Team,Acquired,Relinquished,Notes,Player
4048,2013-10-29,Orlando Magic,NaN,Hidayet Turkoglu / Hedo Turkoglu,placed on IL,Hedo Turkoglu
4049,2013-10-29,Washington Wizards,NaN,Otto Porter Jr.,placed on IL with strained right hip flexor,Otto Porter
4050,2013-10-29,Orlando Magic,NaN,Glen Davis,placed on IL recovering from surgery to repair...,Glen Davis
4051,2013-10-29,Phoenix Suns,NaN,Emeka Okafor,placed on IL recovering from surgery on neck t...,Emeka Okafor
4052,2013-10-29,Los Angeles Lakers,NaN,Kobe Bryant,placed on IL recovering from surgery to repair...,Kobe Bryant

In [302]:
inactive_list_no_match_df = inactive_list_df[inactive_list_df['Player'] == 'No Match']
all_events_names_no_match = inactive_list_no_match_df['Acquired'].fillna('') + inactive_list_no_match_df['Relinquished'].fillna('')
all_events_names_no_match.unique()

array(['Carlos Delfino', 'Lamar Odom', 'Patric Young',
       'Roy Devyn Marble / Roy Marble (Devyn)', 'Patrick Christopher',
       'Chris Wilcox', 'Yakuba Ouattara / Billy Ouattara', 'Mike Young',
       'Eric Griffin', 'D.J. Augustine', '76ers', '', '11/25/2019',
       'left wrist injury (DTD)',
       'placed on IL with torn labrum in right hip',
       'placed on IL with bruised right hip', 'Jason Preston',
       'Daulton Hommes', 'NBA health and safety protocols (DTD)',
       'Malik Ellison', 'placed on IL with right Achilles tendon injury',
       'placed on IL with surgery on right knee',
       'placed on IL with left knee injury'], dtype=object)

In [303]:
inactive_list_df = inactive_list_df[inactive_list_df['Player'] != 'No Match']
inactive_list_df.head()

,Date,Team,Acquired,Relinquished,Notes,Player
4048,2013-10-29,Orlando Magic,NaN,Hidayet Turkoglu / Hedo Turkoglu,placed on IL,Hedo Turkoglu
4049,2013-10-29,Washington Wizards,NaN,Otto Porter Jr.,placed on IL with strained right hip flexor,Otto Porter
4050,2013-10-29,Orlando Magic,NaN,Glen Davis,placed on IL recovering from surgery to repair...,Glen Davis
4051,2013-10-29,Phoenix Suns,NaN,Emeka Okafor,placed on IL recovering from surgery on neck t...,Emeka Okafor
4052,2013-10-29,Los Angeles Lakers,NaN,Kobe Bryant,placed on IL recovering from surgery to repair...,Kobe Bryant

In [308]:
inactive_list_df['on_IL'] = 0
inactive_list_df.loc[inactive_list_df['Acquired'].isna(), 'on_IL'] = 1
inactive_list_df = inactive_list_df.drop(columns=['Acquired','Relinquished'])
inactive_list_df.head()

KeyError: 'Acquired'

In [307]:
pickle.dump(inactive_list_df,open(DIR_CLEAN_DATA+'inactive_list_cleaned.p', "wb" ))